---
layout: layout.njk
title: Potloodgum, webdesign for human beings
---
{% include "partials/_header.njk" %}

<main>
    <section class="bio">
      <h1 class="name">TJERK DIJKSTRA</h1>
      <span>Pronounced as <em>"Chairk"</em></span>

      <div class="canvas-wrapper" title="erase me">
        <canvas id="profileCanvas"></canvas>
        <span class="tooltip">erase me</span>
      </div>

      <p class="summary">
        I want to work on projects that have a social impact.
        Sometimes that means exploring and developing new concepts and interventions and co-creating with the people involved.
        <br><br>
        Currently I am a lecturer at NHL Stenden University of Applied Sciences.
        And a freelance developer and designer at Potloodgum.

        Test
      </p>

      <div class="bio-actions">
        <a href="mailto:hello@potloodgum.com">Reach out to me</a>
      </div>

      <div class="social-links">
        <a href="https://github.com/tjerk-git" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://mastodon.design/@potloodgum" target="_blank" rel="noopener noreferrer">Mastodon</a>
        <a href="https://open.spotify.com/user/henkiebob?si=6c3fce551c7b4fe1" target="_blank" rel="noopener noreferrer">Spotify</a>
        <a href="https://letterboxd.com/chairk/" target="_blank" rel="noopener noreferrer">Letterboxd</a>
        <a href="https://hardcover.app/@Chairk" target="_blank" rel="noopener noreferrer">Hardcover books</a>
      </div>
    </section>

    <section class="values">
      <h2>VALUES</h2>
      <ul>
        <li>OPEN SOURCE</li>
        <li>ACCESSIBLE</li>
        <li>SIMPLE</li>
        <li>INCLUSIVE</li>
        <li>DURABLE</li>
      </ul>
    </section>
</main>