---
layout: layout.njk
title: Potloodgum, webdesign for human beings
---

 <main>
    <nav class="navbar">
      <img src="/images/potloodgum.webp" alt="Potloodgum logo" class="logo">
      <h1>POTLOODGUM</h1>
    </nav>

    <section class="bio">
      <h1>TJERK DIJKSTRA</h1>
      <p class="summary">
        I want to work on projects that have a social impact.
        Sometimes that means exploring and developing new concepts and interventions and co-creating with the people involved.
        <br><br>
        Currently I am a lecturer at NHL Stenden University of Applied Sciences.
        And a freelance developer and designer at Potloodgum.
      </p>

      <button>Download CV</button>
      <a href="mailto:tjerk.dijkstra@icloud.com">Reach out to me</a>
    </section>

    <section>
      <h2>Focus</h2>
      <p>My current focus is on Social Design.</p>
    </section>

     <section class="values">
      <h2>VALUES</h2>
      <ul>
        <li>OPEN SOURCE</li>
        <li>ACCESSIBLE</li>
        <li>SIMPLE</li>
        <li>INCLUSIVE</li>
        <li>DURABLE</li>
      </ul>
      </section>
</main>