@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --pink: #FF79A4;
  --black: #2F2F2F;
  --off-white: #F4EFEF;
  --light-pink: #F4CDCD;
  --green: #538628;
  --dark-green: #234507;
  --blue: #4A7196;
  --dark-blue: #1F3A4D;
  --yellow: #EBB700;
  --dark-yellow: #6e5509;
  --purple: #A55C8E;
  --dark-purple: #680B4A;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  background: var(--off-white);
}

video {
  clip-path: inset(2px 2px);
}

.video-fit-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-fit-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


article {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: var(--off-white);
  color: var(--black);
  padding: 4rem;
  border-radius: 20px;
}

h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

mark {
  background-color: var(--light-pink);
  color: var(--black);
  padding: 0.1rem;
  opacity: 0.8;
}

header a {
  text-decoration: none;
  display: block;
}

aside {
  margin-top: 4rem;
  color: var(--green);
}

.intro {
  max-width: 1280px;
  margin: 0 auto;
}

.intro h1 {
  font-size: 10rem;
  color: var(--black);
  font-weight: 700;
}

.head {
  display: flex;
}

.head h1 {
  font-size: 8vw;
}

.logo {
  max-width: 10rem;
}

.playlist {
  background: var(--pink);
}

.playlist__header {
  display: flex;
  justify-content: flex-end;
}

.playlist__header h2 {
  font-size: 8rem;
  color: var(--off-white);
  font-weight: 400;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.playlist__content {
  display: flex;
  flex-direction: column;
}

.playlist__item {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 3rem;
  font-size: 3rem;
  align-items: flex-start;
}

.playlist__item div {
  min-width: 40rem;
}

.playlist__item div:last-child {
  margin-left: auto;
  align-self: flex-end;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
}

.playlist-table tr {
  height: 8rem;
  padding: 4rem;
}

.playlist-table th,
.playlist-table td {
  padding: 4rem;
}

.playlist-table th {
  text-align: left;
}

.cactus {
  background: var(--green);
  color: var(--dark-green);
}

.black {
  background: var(--black);
  color: var(--off-white);
}

.taxi {
  background: var(--yellow);
  color: var(--dark-yellow);
}

.baby {
  background: var(--blue);
  color: var(--dark-blue);
}

.blurple {
  background: var(--purple);
  color: var(--dark-purple);
}

.button-link {
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  font-size: 2rem;
}


.why {
  background: var(--light-pink);
  padding: 4rem;
  color: #E06E6E;
}

.why h1 {
  font-size: 8rem;
  font-weight: 400;
}

.why h2 {
  font-size: 3rem;
  color: #E06E6E;
  font-weight: 400;
}

.why ul {
  margin-top: 2rem;
  list-style-type: none;
  font-size: 4rem;
  color: var(--green);
}

header {
  padding: 4rem;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 8rem;
  color: var(--black);
}

header img {
  max-width: 20rem;
}

.navbar {
  z-index: 2;
  background-color: var(--off-white);
  font-size: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  padding: 2rem;
  display: flex;
  align-items: center;
  color: var(--black);
}

@media (max-width: 675px) {

  .navbar {
    font-size: 2.2rem;
    padding: 0.4rem;
  }

  .intro h1 {
    font-size: 3rem;
  }

  .playlist__header h2 {
    font-size: 3rem;
  }

  .why h1 {
    font-size: 3rem;
  }

  .playlist-table th,
  .playlist-table td {
    padding: 1rem;
  }

  .playlist-table {
    font-size: 1.3rem;
  }

  .button-link {
    font-size: 1.5rem;

  }
}