---
layout: layout.njk
title: IDEA'S
---

{% include "partials/_header.njk" %}

<main>
  <article class="intro idea">
    <h3>Noodle scanner</h3>
    <p>A webapp that lets you collect the instant noodles you ate.</p>
    <button>I like this idea!</button>
  </article>


  <article class="intro">
    <h3>Hamaki</h3>
    <p>Working together with Raymond van Dongelen on a webapp and MacOs app.
      This app allows the easy creation of multiple "spots" that people can sign up for.</p>

    <a href="https://hamaki.pro" target="_blank">go to hamaki.pro</a>
  </article>

  <article class="intro">
    <h3>Kijkgat</h3>
    <p>Try looking differently at the same world.</p>
    <a href="https://kijkgat.com" target="_blank">go to kijkgat.com</a>
  </article>

  <article class="intro">
    <h3>Tienskip</h3>
    <p>Teaching and protecting democracy</p>
  </article>

  <article class="intro">
    <h3>Hera</h3>
    <p>A platform for connecting healthcare questions with serious gaming companies.</p>
  </article>

  <article class="intro">
    <h3>Design Challenge generator</h3>
    <p>A tool for creating fun creative challenges</p>
    <a href="https://sprint.cards" target="_blank">go to sprint.cards</a>
  </article>

  <article class="intro">
    <h3>Sneup.it</h3>
    <p>Clean up your own garage or attic with a self hosted garage sale</p>
    <a href="https://sneup.it" target="_blank">go to sneup.it</a>
  </article>
</main>