---
layout: layout.njk
title: Potloodgum | Human-Centered Webdesign for Non-Profits
description: Potloodgum creates accessible and impactful web design solutions for non-profit organizations and social causes in the Netherlands. View our latest projects and collaborations.
keywords: human-centered webdesign, accessible web design Netherlands, non-profit website designer Leeuwarden, social impact web development, Tjerk Dijkstra web designer
---

{% include "partials/_header.njk" %}
<div class="content-wrapper">
    <div class="introduction-container">
        <p>Hi, Potloodgum is a design studio run by Tjerk Jippe Dijkstra.</p>
        <p>I teach UX/UI, Design Research and Web development at NHL Stenden at a Bachelors Design School called CMDLWD.</p>
        <p>I like helping people by making easy, fun and quircky
            <span class="highlight-marker">web applications</span>
            for them. Like an automatic photobooth for a wedding or a website that generates fun design challenges for students
            at
            <a target="_blank" href="https://sprint.cards">sprint.cards</a>, or bookable timeslot tool called
            <a target="_blank" href="https://hamaki.pro">Hamaki</a>.
        </p>
        <p>Yeah, too many side
            <span class="highlight-marker">projects</span>
            and some analog
            <span class="highlight-marker">photography.</span>
        </p>
        <p>Have fun, check out my stuff, and if you want to reach me:
            <a href="hello@potloodgum.com">hello@potloodgum.com!</a>
        </div>
        <div class="scroll-container">
            <img class="scroll" src="/images/scroll.png" alt="scroll down image"></div>
        </div>
        <h2 class="sunk">Projects</h2>
        <section class="color-pink-light">
            <div class="content-wrapper-sunk">
                <div class="trading-cards">
                    {% for project in collections.projects %}
                        <div class="card">
                            <h3>{{ project.data.title }}</h3>
                            <div class="{{ project.data.shape }}"></div>
                            <div class="card-footer">
                                <a target="_blank" href="{{ project.data.url }}">{{ project.data.url }}
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                                        <polyline points="15 3 21 3 21 9"></polyline>
                                        <line x1="10" y1="14" x2="21" y2="3"></line>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <h2 class="sunk" id="lectures">Lectures</h2>
        <section class="color-blue">
            <div class="content-wrapper-sunk">
                {% for post in collections.posts | reverse %}
                    <a href="{{ post.url }}" class="event">
                        <div class="event-info">
                            <h3>{{ post.data.title }}</h3>
                            <p>{{ post.data.date | fromNow }}</p>
                        </div>
                        <div class="event-action">&gt;&gt;</div>
                    </a>
                {% endfor %}
            </div>
        </section>
        <h2 class="sunk">Photography</h2>
        <section class="color-purple">
            <div class="content-wrapper-sunk">
                <div class="images-container">
                    <figure>
                        <img
                            src="/images/photos/1.jpeg"
                            alt="Black and white picture of laundry hanging on a washing line the clouds have summer pattern and the picture is taken
                                from a low angle, the clothes seem to be from an older gentleman. It almost appears that some clothes are floating in the
                                sky."></figure>
                        <figure>
                            <img
                                src="/images/photos/2.jpeg"
                                alt="Grainy black and white picture of a tree and two doves seeming to run away from something that happend, it's taken
                                    from the perspective of a human looking up at the sky."></figure>
                            <figure>
                                <img
                                    src="/images/photos/3.jpeg"
                                    alt="A frozen lake in Finland, washed out blue and white colors. A person wearing a yellow jacket is taking a picture of
                                        the lake."></figure>
                                <figure>
                                    <img
                                        src="/images/photos/4.jpeg"
                                        alt="A big rocky cliff in Portugal, one wave is hitting the rock, you can see the outline of the coast. One fisherman is
                                            standing on the cliffside, he is far away and seems small. Clouds are stretching far, it seems warm but cold."></figure>
                                    <figure>
                                        <img
                                            src="/images/photos/5.jpeg"
                                            alt="High contrast picture taken from a low angle, you see a rope and a person seems to be rappeling down. The person is
                                                framed by dark leaves from the tree."></figure>
                                        <figure>
                                            <img
                                                src="/images/photos/6.jpeg"
                                                alt="A view through a window of frozen trees and branches, lot's of houseplants are stacked on a audio system, it's in
                                                    black and white."></figure>
                                            <figure>
                                                <img
                                                    src="/images/photos/8.jpeg"
                                                    alt="A high contrast picture of a woman standing in the North Sea in low water, the water reaches her ankles. She seems
                                                        to be one silhouette. Her clothes seems to be matching the wavy pattens of the water. She is looking at the person taking
                                                        the picture. The sea stretches far, and the horizon is flat and almost infinite"></figure>
                                                <figure>
                                                    <img
                                                        src="/images/photos/7.jpeg"
                                                        alt="A black and white picture of a reflection of a dock in the water, the water distorts and ripples the reflection. It
                                                            almost looks like a giant rock surface."></figure>
                                                    <figure>
                                                        <img
                                                            src="/images/photos/9.jpeg"
                                                            alt="A picture taken from a fast moving car, green mountains are passing by. In the middle there seems to be a steam
                                                                cloud. The foreground seems to be a high grass of diffrent colours, blurred by the speed of the car."></figure>
                                                        <figure>
                                                            <img
                                                                src="/images/photos/10.jpeg"
                                                                alt="A black and white landscape photo of a lonely tower standing at the end of the road, there are some animals grazing
                                                                    around it, clouds seem to be stretching far. The road seems gravel and barely used."></figure>
                                                            <figure>
                                                                <img
                                                                    src="/images/photos/11.jpeg"
                                                                    alt="A black and white portrait picture of a female face looking at the camera, only her eyes and hair are visible. The
                                                                        bottom-middle of picture seems to be torn or underdeveloped, her eyes are looking directly at the lens of the camera."></figure>
                                                                <figure>
                                                                    <img
                                                                        src="/images/photos/12.jpeg"
                                                                        alt="A landscape picture of a dyke, long and flat, but taken askew the horizon seems to be going up. A small silhouette
                                                                            of a person walking is in the middle of the photo. The sky contains a fingerprint, a remainder of the development
                                                                            process."></figure>
                                                                    <figure>
                                                                        <img
                                                                            src="/images/photos/13.jpeg"
                                                                            alt="A black and white and grainy picture of reeds, only one fluffy reed seems to be in focus. In the background there a
                                                                                many blurry stems."></figure>
                                                                        <figure>
                                                                            <img
                                                                                src="/images/photos/14.jpeg"
                                                                                alt="A picture of a red lightbeam traveling along a road. The road is clearly marked with white paint. In the far
                                                                                    distance there is a small streetlight. The red laser light seems to brighten the picture with red neon colors."></figure>
                                                                        </div>
                                                                        <div class="lightbox-overlay" id="lightbox">
                                                                            <button class="lightbox-close" aria-label="Close" id="lightboxClose">✕</button>
                                                                            <img class="lightbox-image" id="lightboxImage" alt=""/>
                                                                        </div>
                                                                    </div>
                                                                </section>