---
layout: layout.njk
title: Potloodgum | Human-Centered Webdesign for Non-Profits
description: Potloodgum creates accessible and impactful web design solutions for non-profit organizations and social causes in the Netherlands. View our latest projects and collaborations.
keywords: human-centered webdesign, accessible web design Netherlands, non-profit website designer Leeuwarden, social impact web development, Tjerk Dijkstra web designer
---
{% include "partials/_header.njk" %}

<main>
    <section class="why radius-top-left radius-top-right">
        <h1 class="pgum"><span>P</span><span>O</span><span>T</span><span>L</span><span>O</span><span>O</span><span>D</span><span>G</span><span>U</span><span>M</span></h1>
        
        <div class="subtitle">
            <span>WEBDESIGN</span>
            <span>FOR</span>
            <span>HUMAN</span>
            <span>BEINGS*</span>
        </div>
        <span>*I only work for non profit organisations and good causes</span>
    </section>

    <section class="playlist radius-bottom-left radius-bottom-right">
        <h2 class="visually-hidden">Recent Projects</h2>
        <table class="playlist-table" aria-label="List of recent projects and collaborations">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col"><span class="visually-hidden">Link to project</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="wes-blue-dark">
                    <th scope="row">WE DESIGN THE WORLD FESTIVAL</th>
                    <td>MAR 2025</td>
                    <td>FESTIVAL FOR DESIGN IN THE NORTH</td>
                    <td><a href="https://wdtw.nl" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit We Design The World Festival website">CHECK</a></td>
                </tr>
                <tr class="red-dark">
                    <th scope="row">ROELOF SCHIPPER</th>
                    <td>JAN 2025</td>
                    <td>POET</td>
                    <td><a href="https://roelofschipper.nl" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit Roelof Schipper's website">CHECK</a></td>
                </tr>
                <tr class="cactus">
                    <th scope="row">TIENSKIP</th>
                    <td>JUNI 2024</td>
                    <td>DEMOCRATIE VOOR JONGEREN</td>
                    <td><a href="https://tienskip.frl" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit Tienskip website">CHECK</a></td>
                </tr>
                <tr class="black">
                    <th scope="row">KIJKGAT</th>
                    <td>MEI 2024</td>
                    <td>ZIE WAT JE NOOIT ZAG</td>
                    <td><a href="https://kijkgat.com" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit Kijkgat website">CHECK</a></td>
                </tr>
                <tr class="blurple">
                    <th scope="row">HAMAKI</th>
                    <td>MEI 2024</td>
                    <td>MEETINGS MADE EASY</td>
                    <td><a href="https://hamaki.pro" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit Hamaki website">CHECK</a></td>
                </tr>
                <tr class="taxi">
                    <th scope="row">DESIGN CHALLENGE GENERATOR</th>
                    <td>JUNI 2023</td>
                    <td>CREATE DESIGN FUN CHALLENGES</td>
                    <td><a href="https://sprint.cards" target="_blank" class="button-link" rel="noopener noreferrer" aria-label="Visit Design Challenge Generator website">CHECK</a></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>