---
layout: layout.njk
title: Potloodgum, webdesign for human beings
---
{% include "partials/_header.njk" %}

<main>
<section class="playlist radius-top-left radius-top-right">
    <div class="playlist__header">
          <h2>NOW</h2>
    </div>

  <section class="card">

      <h2>What is a NOW page?</h2>
      <p class="summary">
        <a href="https://nownownow.com/about">NOW</a> is an initiative by Derek Sivers, where people share what they're currently focused on. Instead of having a typical bio that stays static, a NOW page reflects your current priorities and interests. It's a snapshot of what you're working on and thinking about right now.
      </p>

      <h2>What I'm up to</h2>
      <p class="summary">
        I want to work on projects that have a social impact.
        Sometimes that means exploring and developing new concepts and interventions and co-creating with the people involved.
        <br><br>
        Currently I am a lecturer at NHL Stenden University of Applied Sciences.
        And a freelance developer and designer at Potloodgum.
      </p>
  </section>


</section>

</main>