---
layout: layout.njk
title: NOW
---
{% include "partials/_header.njk" %}

<section class="playlist">
    <div class="playlist__header">
          <h2>NOW</h2>
    </div>

    <div class="why">
      <ul>
        <li>Working on <a href="https://hamaki.pro" target="_blank">Hamaki</a> with <a href="https://raymond.frl" target="_blank">Raymond van Dongelen</a></li>
        <li>Working on Tienskip</li>
        <li>Teaching at <a href="https://cmdlwd.nl" target="_blank">CMD LWD</a></li>
      </ul>
    </div>

</section>