---
layout: layout.njk
title: Potloodgum, webdesign for human beings
---
{% include "partials/_header.njk" %}

<main>
   
    <section class="playlist radius-top-left radius-top-right" style="padding:1rem;">
        <div class="playlist__header">
              <h2>PHOTOGRAPHY</h2>
        </div>
     
        <div class="pswp-docs__home-gallery" id="gallery--header-home">
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%" 
                   href="/images/photos/13.webp"
                   data-pswp-width="1512"
                   data-pswp-height="2016"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/13.webp"
                         alt="Photo 13"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/02.webp"
                   data-pswp-width="1512"
                   data-pswp-height="1512"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/02.webp"
                         alt="Photo 2"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/03.webp"
                   data-pswp-width="1037"
                   data-pswp-height="1037"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/03.webp"
                         alt="Photo 3"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/01.webp"
                   data-pswp-width="1475"
                   data-pswp-height="1472"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/01.webp"
                         alt="Photo 1"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/04.webp"
                   data-pswp-width="1565"
                   data-pswp-height="1037"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/04.webp"
                         alt="Photo 4"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/16.webp"
                   data-pswp-width="512"
                   data-pswp-height="768"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/16.webp"
                         alt="Photo 16"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/05.webp"
                   data-pswp-width="1512"
                   data-pswp-height="1512"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/05.webp"
                         alt="Photo 5"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/06.webp"
                   data-pswp-width="1564"
                   data-pswp-height="1037"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/06.webp"
                         alt="Photo 6"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/07.webp"
                   data-pswp-width="3000"
                   data-pswp-height="2000"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/07.webp"
                         alt="Photo 7"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/08.webp"
                   data-pswp-width="3000"
                   data-pswp-height="2000"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/08.webp"
                         alt="Photo 8"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/09.webp"
                   data-pswp-width="3000"
                   data-pswp-height="2000"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/09.webp"
                         alt="Photo 9"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/10.webp"
                   data-pswp-width="1512"
                   data-pswp-height="2016"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/10.webp"
                         alt="Photo 10"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/11.webp"
                   data-pswp-width="2856"
                   data-pswp-height="2142"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/11.webp"
                         alt="Photo 11"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/12.webp"
                   data-pswp-width="2856"
                   data-pswp-height="2142"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/12.webp"
                         alt="Photo 12"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/14.webp"
                   data-pswp-width="2016"
                   data-pswp-height="1512"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/14.webp"
                         alt="Photo 14"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/15.webp"
                   data-pswp-width="512"
                   data-pswp-height="768"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/15.webp"
                         alt="Photo 15"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/17.webp"
                   data-pswp-width="1260"
                   data-pswp-height="840"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/17.webp"
                         alt="Photo 17"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/18.webp"
                   data-pswp-width="1260"
                   data-pswp-height="840"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/18.webp"
                         alt="Photo 18"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/19.webp"
                   data-pswp-width="2208"
                   data-pswp-height="1472"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/19.webp"
                         alt="Photo 19"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
            <figure class="pswp-docs__home-gallery-item">
                <a style="padding-bottom:100%"
                   href="/images/photos/20.webp"
                   data-pswp-width="2208"
                   data-pswp-height="1472"
                   target="_blank"
                   data-cropped="true">
                    <img src="/images/photos/20.webp"
                         alt="Photo 20"
                         sizes="(min-width: 1124px) 524px, 50vw">
                </a>
            </figure>
        </div>

        <!-- PhotoSwipe JS and CSS -->
        <link rel="stylesheet" href="https://unpkg.com/photoswipe@5.3.8/dist/photoswipe.css">
        <script type="module">
            import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe@5.3.8/dist/photoswipe-lightbox.esm.js'
            import PhotoSwipe from 'https://unpkg.com/photoswipe@5.3.8/dist/photoswipe.esm.js'

            const lightbox = new PhotoSwipeLightbox({
                gallery: '#gallery--header-home',
                children: 'a',
                pswpModule: PhotoSwipe
            });

            lightbox.init();
        </script>
    </section>
    
</main>