---
layout: layout.njk
title: Photos
---


{% include "partials/_header.njk" %}

<main>
<div class="photo-container">
    {% for i in range(1, 24) %}
        <div class="photo">
            <a href="/images/photos/{{ i }}.webp" class="lightbox">
                <img src="/images/photos/{{ i }}.webp" alt="Photo {{ i }}">
            </a>
        </div>
    {% endfor %}
</div>

<style>
    .photo-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .photo{
        max-width: 300px;
        padding:1rem;
    }

    .photo img {
        max-width: 100%;
        height: auto;
        
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 600px) {
        .photo-container {
            flex-direction: column;
        }

        .photo {
            max-width: 100%;
        }
    }
</style>
</main>
