---
layout: layout.njk
title: Potloodgum, webdesign for human beings
---

{% include "partials/_header.njk" %}

<main>
  <article>
  <h1>TJERK</h1>
  <p>You pronounce it like the word "Chair" and then add the letter "K" behind it.</p>

  <ul>
    <li>I'm a designer and developer</li>
    <li>I live in the north of the Netherlands</li>
  </ul>
  </article>
</main>