---
layout: layout.njk
---
{% include "partials/_header.njk" %}

<main>
  <article class="blog-post">
    <header class="blog-post-header">
      <h1>{{ title }}</h1>
      <div class="blog-post-meta">
        <time datetime="{{ date | dateIso }}">{{ date | readableDate }}</time>
        {% if tags %}
        <div class="tags">
          {% for tag in tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </header>

    <div class="blog-post-content">
      {{ content | safe }}
    </div>

    <footer class="blog-post-footer">
      <div class="author-info">
        <img src="/images/tjerk-dijkstra.jpg" alt="Tjerk Dijkstra" class="author-avatar">
        <div class="author-bio">
          <h3>About the Author</h3>
          <p>Tjerk Dijkstra is a web designer and developer focused on creating accessible and human-centered websites for non-profits and social causes. He is also a lecturer at NHL Stenden University of Applied Sciences.</p>
        </div>
      </div>
    </footer>
  </article>
</main>
