---
title: Potloodgum
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% else %}Potloodgum - Webdesign for Human Beings{% endif %}</title>

    {# Primary Meta Tags #}
    <meta name="description" content="{% if description %}{{ description }}{% else %}Potloodgum - Tjerk Dijkstra, creating accessible and human-centered web design in Leeuwarden, Netherlands. Specializing in non-profit and social impact projects.{% endif %}">
    <meta name="author" content="Tjerk Jippe Dijkstra">
    <meta name="keywords" content="webdesign, human-centered design, accessible design, Leeuwarden, Netherlands, non-profit, social impact, Tjerk Dijkstra, Tjerk Jippe Dijkstra">

    {# Open Graph #}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://potloodgum.com{{ page.url }}">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}Potloodgum - Webdesign for Human Beings{% endif %}">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}Potloodgum - Tjerk Dijkstra, creating accessible and human-centered web design in Leeuwarden, Netherlands. Specializing in non-profit and social impact projects.{% endif %}">
    <meta property="og:image" content="/images/og.png">


    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="https://potloodgum.com{{ page.url }}">
    <meta name="theme-color" content="#F4CDCD">


    <script defer src="https://cloud.umami.is/script.js" data-website-id="ab28808f-e12c-4f00-a47d-c089d95031b3"></script>
    <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_442dfa5ff6419414d8f9085017c50e"></script>
  </head>
  <body>
    {{ content | safe }}
    {% include "partials/_footer.njk" %}
    <script src="/app.js" defer type="module"></script>
    {% if page.url === "/about/" %}
    <script src="/js/profile-canvas.js" defer></script>
    {% endif %}
  </body>
</html>
