---
layout: website-detail.njk
permalink: /websites/cmdlwd/
title: CMD Leeuwarden Potloodgum
label: Education
name: CMD Leeuwarden
role: Communication & Multimedia Design, NHL Stenden
people:
  - name: Tjerk Dijkstra
    photo: https://cmdlwd.nl/storage/11/01KM8VNJZCV2YSAKH3K8V61NBR.png
  - name: Marc Apon
    photo: https://cmdlwd.nl/storage/12/marc-apon.jpg
  - name: Jop Wielens
    photo: https://cmdlwd.nl/storage/14/01KMCYMADZ6C8H37QF7RMS7780.jpeg
  - name: Martha van der Zwaag
    photo: https://cmdlwd.nl/storage/16/martha-van-der-zwaag.jpg
  - name: Loek Canton
    photo: https://cmdlwd.nl/storage/17/01KMDQV3B6D6WMB7D6MDEF6S0A.jpg
  - name: Marleen Zoon
    photo: https://cmdlwd.nl/storage/18/marleen-zoon.jpg
  - name: Kirsten Zinger
    photo: https://cmdlwd.nl/storage/19/01KMFFK0R7S43HF955C94343VC.jpg
  - name: Robin Koster
    photo: https://cmdlwd.nl/storage/20/robin-koster.jpg
  - name: Gerben Wiersma
    photo: https://cmdlwd.nl/storage/21/01KMJ7G8ZF8C47R6KK3D8RNEBX.jpeg
  - name: Pauline Stoel
    photo: https://cmdlwd.nl/storage/22/01KMJ97N01NGGKJHEHV528S9RA.png
  - name: Peter Wassenaar
    photo: https://cmdlwd.nl/storage/23/peter-wassenaar.jpg
  - name: Raymond van Dongelen
    photo: https://cmdlwd.nl/storage/24/raymond-van-dongelen.jpg
  - name: Gerjan Kelder
    photo: https://cmdlwd.nl/storage/25/gerjan-kelder.jpg
  - name: Mark Winkel
    photo: https://cmdlwd.nl/storage/26/mark-winkel.jpg
  - name: Rik Berkman
    photo: https://cmdlwd.nl/storage/27/rik-berkman.jpg
  - name: Jaap Praamstra
    photo: https://cmdlwd.nl/storage/28/jaap-praamstra.jpg
  - name: Joke Lunsing
    photo: https://cmdlwd.nl/storage/29/joke-lunsing.jpg
  - name: Jeroen Nauta
    photo: https://cmdlwd.nl/storage/30/jeroen-nauta.jpg
  - name: Jamie Yin
    photo: https://cmdlwd.nl/storage/31/01KPN9QKAMTZ5X157ANV58QPR2.jpeg
image: /images/cmdlwd.png
siteUrl: https://cmdlwd.nl
urlLabel: cmdlwd.nl
quote: We needed something that felt like the programme direct, open, built for students, not for management.
goal: Make prospective students feel what the programme is actually like, not just read about it.
surprise: He questioned things we took for granted. The navigation, the copy, the hierarchy. All of it better for it.
---
