---
layout: website-detail.njk
permalink: /websites/sprintcards/
title: Sprint.cards Potloodgum
label: Design tool
name: Sprint.cards
role: Design Challenge Generator
image: /images/sprintcards.png
siteUrl: https://sprint.cards
urlLabel: sprint.cards
quote: A random design challenge generator for when you're stuck or just want to play.
goal: A tool that generates design challenges on the fly useful in workshops, classrooms, or when you need a creative kickstart.
surprise: Students use it outside of class. That wasn't planned, but it's the best possible outcome.
---
