---
layout: website-detail.njk
permalink: /websites/wdtw/
title: We Design the World Potloodgum
label: Festival
name: We Design the World
person: Gerald Kooistra
role: Design festival
image: /images/wdtw.png
siteUrl: https://wdtw.nl
urlLabel: wdtw.nl
quote: A site that had to feel like the festival itself bold, open, and a little chaotic.
goal: Get the energy of the festival into the browser. No corporate polish, just honest design for a design crowd.
surprise: How quickly Tjerk understood the tone. We barely had to explain it.
---
