<header class="flex">
  <figure>
    <img src="/images/potloodgum.webp" alt="Potloodgum" class="logo">
  </figure>
  <h1>Potloodgum</h1>
</header>
<section class="header-title">
  <h2><a href="/">HOME</a>{% if title %} > {% endif %} {{title}}</h2>
</section>