<header>
  <img src="/images/potloodgum.webp" alt="Potloodgum logo" class="logo">
  <h1>POTLOODGUM</h1>
</header>

  <nav>
    <ul>
      <li><a href="/" aria-label="Now" aria-roledescription="button">FEATURING</a></li>
      <li><a href="/now" aria-label="Now" aria-roledescription="button">NOW</a></li>
      <li><a href="/blog" aria-label="Blog" aria-roledescription="button">BLOG</a></li>
      <li><a href="/tjerk" aria-label="Tjerk" aria-roledescription="button">TJERK</a></li>
    </ul>
  </nav>