---
layout: layout.njk
title: How to get your attention back
tags: post
date: 2024-03-01
---

{% include "partials/_header.njk" %}
     <ul class="blog-items">
        <li><a href="/blog">/blog</a><a href="/posts/how-to-get-your-attention-back">How to get your attention back</a></li>
      </ul>

     <main>
      <article>
         <h2>{{title}}</h2>
         
        <p class="intro">
          Let's face it, you can't just throw away your smartphone and call it a day.
          You need to be able to use it for work, for socializing, for entertainment, and for a lot of other things.

          But you also need to be able to focus on the things that matter to you.

          <mark>The problem isn't content its infinite content</mark>
        </p>

        <h3>#1: Rate limit yourself</h3>
        <p>You don't need to know every piece of information about everything</p>
        <p>
          Rate limiting is a technique that is used in programming to prevent a program from using too much resources.
          <mark>You can use the same technique to prevent yourself from using too much of your attention.</mark>

          You can't just keep on going and going and going. You need to take breaks, you need to take time to think, and
          you need to take time to relax.

          Next time in a Youtube Shorts binge, try to think about why you were here in first place?
        </p>

        <h3>#2: Don't fight a battle you can't win</h3>
        <p>
          Your <mark>monkey, lizard brain</mark> can't win against the algorithms that are designed to keep you engaged.
          So don't try to fight it, just accept it, and try to plan around it.
        </p>

        <h3>#3: Maximise your screen time</h3>
        <p>
          It's not all bad. You can use your screen time to learn new things, to connect with people, and to be
          entertained.

          Savouring something is a technique that is used in mindfulness to help you enjoy the things that you are
          doing.
          So when you are consuming content, try to <mark>savour</mark> it.

          Most Youtubers have a release schedule, so you can plan your screen time around that for example.

        </p>

        <h3>#4: Don't have a cookie jar in your room</h3>
        <p>
          If you don't want to eat cookies, don't have a cookie jar in your room.

          If its out of sight, its out of mind.
        </p>

        <h3>#5: Contextualize</h3>
        <p>Introduce rituals and habits, most problems of boredom can originate of not having a ritual or plan for your
          day.
          By structuring your day, you can make sure that you have time for the things that matter to you.
          And by having rituals you can look forward to the things that you enjoy.

          Make it simple, every saturday morning I go for a run, and after that run I have a nice breakfast with eggs.
          So I know that I have something to <mark>look forward</mark> to every saturday morning.
        </p>

        <h3>#6: Add friction</h3>
        <p>
          I have a problem with impulse buying, so I added friction to the process of buying things.
          I don't have any accounts, I don't have any payment methods, and I don't have any saved addresses.

          This way I can't just buy something on a whim, I need to think about it, and I need to make a conscious
          decision.

          Move all apps to a different device, or make it harder to access them.

          Never login to a website, always use incognito mode.

          Make it porpusely harder to access the things that you want to avoid.
          There are lots of options and tools out there, you just need to find the one that works for you.
        </p>

        <aside>
          Written by Tjerk Dijkstra on <time datetime="2024-03-01 20:00">01-03-2024</time>
        </aside>
      </article>

    </main>

