---
layout: layout.njk
title: Technology sucks
tags: post
date: Last Modified
---

{% include "partials/_header.njk" %}


<main>
      <article>
        
        <h3>“Technology sucks”</h3>
        <p class="intro">
        That’s what Thom Yorke said during a concert of his most famous side project “The Smile”, this made me scream “WHOO!” Really loudly and afterwards it’s been resonating with me for a while, because in my humble opinion most technology is getting worse for humans.
        </p>

      <h3>Apple Vision and other dystopian VR headsets</h3>
      <p>
The Apple Vision is an expensive VR headset, that’s all it is.

And although I’ve seen some really cool applications of VR, mostly when you need to really simulate something but don’t have the budget to create an entire simulator for it. Like some operation techniques used by surgeons, or specific scenarios for an air traffic operator, these simulations really shine, because no consequences when something goes wrong, great right?

But that’s about it.

<br><br>

Gaming in VR makes most people very very sick.
Social connection and video calling with virtual avatars is just very sad and inhumane.
Virtual desktops give people neck cramps and other discomfort.

I just don’t see it.

<br><br>

For a company that has so many great examples of simplified and human centred design (and also not so great ones). I just can’t believe they would release “hang a bright screen 2cm from your eyes kind of device”

Sure they really focused on the passthrough functionality that allows for blending with the real world. But it just makes it worse in my opinion, because it’s just a crappy version of the real world.
</p>

<h3>Sorry, your washing machine couldn’t start because it needs a software update.</h3>

I recently needed to buy a new washing machine. And my god... so many useless innovations, here is a list of shit I don’t want.

<ul>
  <li>I don’t need or want an app so start and stop my machine.</li>
  <li>I don’t need or want an auto-dose feature that vendors locks me into buying specific containers.</li>
  <li>I don’t want a touch screen to select my washing settings.</li>
  <li>I don’t want customisable songs when my laundry is done.</li>
  <li>I don’t want a smart steam function</li>
</ul>

<p>
The only useful feature I’ve seen is having a little extra window to add forgotten laundry later on, now that’s smart.

None of these features actually provide real value to me, they are just add-ons that can break your machine, and they will.
</p>

<h3>All car technology</h3>

<p>
Get into a car made between 2000 and now and you will find that most of the stuff is unusable and broken. The things that survive are the proven tech: Radio, CD, Lights.

Navigation? -broken and useless
Bluetooth? - works, but the software keeps bugging out
Voice commands? - only if you speak perfect English on a summer day

<br><br>
Also, in terms of being able to repair your own stuff just keeps getting worse.
A car light should be easily replaceable by a user, like without tools, on the side of the road kind of replaceable. 

I can’t wait for all the broken Tesla’s to arrive 10 years from now, stuck in the fart pillow rainbow road screen setting.
</p>

<h3>And the list goes on</h3>
<p>
Smart TV’s with custom software that’s useless after 1 year of use.

Smart audio receivers that work on one tiny chip, if that chip fries, throw out the entire thing. (Old audio receivers are repairable for years and years)

Smartphones that don’t support the latest OS so you can’t download that one essential app.

If you buy these products they would be screaming for a replacement within a very short period of time.
<br><br>
Electronic repair shops are overrun with unusably piles of crap and only repair the stuff that actually worth repairing.
<br><br>


</p>

    <aside>
          Written by Tjerk Dijkstra on <time datetime="2024-03-28 15:22">28-03-2024</time>
        </aside>
      </article>

    </main>
