---
layout: layout.njk
title: The future isn't now
tags: post
date: Last Modified
---

{% include "partials/_header.njk" %}

 <main>
<article>
  <p>Lots of new tech getting mixed reviews (Apple Vision, Rabbit R1, Humane AI pin) And I'm getting real tired of the "well the first iPhone wasn't great at the start" argument. Sure, good design needs iterations, but maybe the direction and vision you have doesn't match with real human beings.</p>
  <aside>
    Written by Tjerk Dijkstra on <time datetime="2024-04-13 13:42">13-04-2024</time>
  </aside>
</article>
</main>
